  input[type="number"] {
			background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  			border: 1px solid #a1a3a3;
  			border-radius: 4px;
  			box-shadow: 0 1px #fff;
  			box-sizing: border-box;
  			color: #696969;
  			height: 39px;
  			margin: 50px 0 0 50px;
  			padding-left: 37px;
  			transition: box-shadow 0.3s;
 		        width: 280px;
 		        display: inline;
							   }
  p {
    			text-indent: 1200px;

  }
  
  h1 {
    			text-align: center;
    			color: #696969;
     }
     
  font{
  
  	text-shadow: 2px 2px #E1E1E1;
  
  
  }
  
  .colorb{
  
  	background-color: #E1E1E1;
  	border-radius: 5px;
  	padding-top: 5px;
  }
